.DraftEditor-root {
  }

.DraftEditor-editorContainer,
.public-DraftEditor-content {
    padding-top:5px;
    padding-left:10px;
    min-height: 500px;
}
.fa-check{
  line-height: 1.7;
}
.fa-chevron-left, .fa-chevron-right, .fa-chevron-down, .fa-chevron-up{
  cursor: pointer;
}
.read_content{
  margin-bottom: 50px;
}
.read_content > .DraftEditor-root > .DraftEditor-editorContainer,
.read_content > .DraftEditor-root > .DraftEditor-editorContainer > .public-DraftEditor-content{
  padding:0 !important;
}