.title{
    width: 100%;
  text-align: center;
  vertical-align: baseline;
  
}
.main{
    width:100%;
}
.logo{
  margin-top: 20px;
  margin-left: 91.3985px;
  /*
  margin: 20px 0px 20px 91.3985px;
  margin-top: 28px;
  margin-left: 91.3985px;
  */
}